{% extends "base_generic.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1>Login</h1>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <div class="text-muted">
                Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
            </div>
            <div class="text-muted">
                Lost password? <a class="ml-2" href="{% url 'password_reset' %}">Reset</a>
            </div>
        </div>
    </div>
{% endblock content %}

