{% extends "base_generic.html" %}
{% block content %}
    {% if blog_list %}
        {% for blog in blog_list %}
            <article class="media content-section">
                <div class="media-body">
                    <h2><a class="article-title" href="{% url 'blog-detail' blog.id %}">{{ blog.name }}</a></h2>
                    <div class="article-metadata">
                        By <a class="mr-2" href="{% url 'blogs-by-author' blog.author.id %}">{{ blog.author }} </a>
                        <small class="text-muted">at {{ blog.post_date|date:"F d, Y" }}</small>
                    </div>
                    <p class="blog-description-section">{{ blog.description }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>There are no blogs.</p>
    {% endif %}

    <div>
        <a class="btn btn-outline-info"
           href="{% url 'blog-create' %}">New Blog</a>
    </div>
{% endblock content %}

